[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    W0613, # Unused argument
    E0401, # Unable to import
    R0903, # Too few public methods